<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eGrocery - Add Product</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: grey;
      }

      header {
        background-color: black;
        color: white;
        padding: 25px;
        text-align: center;
      }

      form {
        max-width:none;
        background-color: grey;
        padding: 50px;
        margin-bottom: 85px;
      }

      h1,
      h2 {
        text-align: center;
      }

      label {
        display: inline-block;
        margin-bottom: 10px;
      }

      input,
      textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
        background-color: whitesmoke;
        border: 2px solid black;
        border-radius: 5px;
      }

      textarea {
        height: 250px;
      }

      button {
        background-color: black;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
      }

      footer {
        background-color: black;
        color: white;
        padding: 0px;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
      }
    </style>
  </head>

  <body>
    <%- include('_navbar.ejs') %>
    <form action="" method="post">
      <h1>Add New Product</h1>
      <h2>Please fill the form below to Add New Product</h2>

      <label>Name</label> <br />
      <input type="text" name="name"/>

      <label>Description</label> <br />
      <input type="text" name="description"/>

      <label>Price</label> <br />
      <input type="number" name="price"/>

      <label>Picture</label> <br />
      <input type="text" name="picture"/>

      <button type="submit">Add</button>
    </form>

    <%- include('_footer.ejs') %>
  </body>
</html>